<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>icons</title>
  <link rel="stylesheet" href="/css/menu.css">
<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
 </head>
  <body>
        <center><span><h3>Your Task has been Scheduled Successfully 1!</h3></span></center>
      <ul class="redesSociais">
                <li class="pinterest"><img src="/images/1.jpeg" height="150" alt=""/></li>
                <li class="facebook"><img src="/images/2.png" alt="" /></li>
                <li class="twitter"><img src="/images/4.jpeg" height="180" alt="" /></li>
                <li class="googleplus"><img src="/images/12.jpeg" height="300" alt="" /></li>
                <li class="skype"><img src="/images/5.png" height="250" alt="" /></li>
                <li class="eighteen"><img src="/images/5.jpeg" height="150" alt="" /></li>
                <li class="nineteen"><img src="/images/6.jpeg" height="150" alt="" /></li>
                <li class="twenty"><img src="/images/7.jpeg" height="400" alt="" /></li>
                <li class="twenty1"><img src="/images/11.jpeg" height="150" alt="" /></li>
                <li class="twenty2"><img src="/images/9.jpeg" height="120" alt="" /></li>
                <li class="twenty3"><img src="/images/10.jpeg" height="200" alt="" /></li>
                <li class="twenty4"><img src="/images/11.jpeg" height="100" alt="" /></li>
                <li class="twenty9"><img src="/images/12.jpeg" height="150" alt="" /></li>
                <li class="thirty"><img src="/images/7.jpeg" height="120" alt="" /></li>
                <li class="thirty1"><img src="/images/1.jpeg" height="100" alt="" /></li>
                <li class="thirty2"><img src="/images/4.jpeg" height="200" alt="" /></li>
                <li class="thirty4"><img src="/images/12.jpeg" height="90" alt="" /></li>
                  <li class="logo h2"><b>Zend</b><span class="h1">&nbspIT</span></li>
              </ul>
              <!-- <p>Your Task has been Scheduled Successfully 2 !</p> -->
              <ul class="redesSociais">
                        <li class="one"><img src="/images/5.jpeg" height="250" alt=""/></li>
                        <li class="two"><img src="/images/6.jpeg" height="" alt="" /></li>
                        <li class="three"><img src="/images/7.jpeg" height="150" alt="" /></li>
                        <li class="four"><img src="/images/11.jpeg" height="200" alt="" /></li>
                        <li class="five"><img src="/images/5.jpeg" height="150" alt="" /></li>
                        <li class="twenty5"><img src="/images/5.png" height="175" alt="" /></li>
                        <li class="twenty6"><img src="/images/14.png" height="270" alt="" /></li>
                        <li class="twenty7"><img src="/images/10.jpeg" height="130" alt="" /></li>
                        <li class="twenty8"><img src="/images/11.jpeg" height="150" alt="" /></li>
                        <li class="thirty5"><img src="/images/4.jpeg" height="170" alt="" /></li>
                        <li class="thirty6"><img src="/images/5.png" height="110" alt="" /></li>
                        <li class="thirty7"><img src="/images/2.png" height="150" alt="" /></li>
                        <li class="thirty8"><img src="/images/12.jpeg" height="150" alt="" /></li>
                        <!-- <li class="button1"><button class="style2">Sign up</button></li> -->
                        <!-- <li class=""><p>Your Task has been Scheduled Successfully !</p></li>> -->
                        <li class="button1"><a href="/add-email"><button class="style2">Schedule a Mail</button></a></li>
                        <li class="button2"><a href="/add-sms"><button class="style2">Schedule an SMS</button></a></li>
                        <li class="button3"><a href="/dashboard"><button class="style2">My Messages</button></a></li>
                        <li class="button4"><a href="/"><button class="style2">Logout</button></a></li>
                      </ul>
                      <!-- <p>Your Task has been Scheduled Successfully 3  !</p> -->
              <ul class="redesSociais">
                        <li class="six"><img src="/images/1.jpeg" height="180" alt=""/></li>
                        <li class="seven"><img src="/images/12.jpeg" height="160" alt="" /></li>
                        <li class="eight"><img src="/images/4.jpeg" alt="" /></li>
                        <li class="nine"><img src="/images/5.png" height="400" alt="" /></li>
                        <li class="ten"><img src="/images/10.jpeg" height="" alt="" /></li>
                        <li class="sixteen"><img src="/images/2.png" height="150" alt="" /></li>
                        <li class="seventeen"><img src="/images/5.png" height="200" alt="" /></li>
                      </ul>
                      <!-- <p>Your Task has been Scheduled Successfully 4  !</p> -->
              <ul class="redesSociais">
                        <li class="eleven"><img src="/images/7.jpeg" height="170" alt=""/></li>
                        <li class="twelve"><img src="/images/11.jpeg" height="280" alt="" /></li>
                        <li class="thirteen"><img src="/images/9.jpeg"  alt="" /></li>
                        <li class="fourteen"><img src="/images/1.jpeg" height="200"  alt="" /></li>
                        <li class="fifteen"><img src="/images/5.jpeg" height="200" alt="" /></li>
                      </ul>
  </body>
</html>
