<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Sign Up Form</title>


<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
      <link rel="stylesheet" href="/css/signup.css">


</head>

<body>

  <!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="signupstyle.css">
<title>Untitled Document</title>
</head>

<!-- <body style="background-color:#f7f8f9" width="728px"> -->
    <body style="background-image: url(/images/bg.jpg);background-size:cover ">
<div align="center">
<div align="">
	<h1><font color="#e60000">Sign Up</font></h1>
	<p><font color="#838384">It's free and only takes a minute.</font></p>
</div>

<form action = "/signup" method="POST" style="width:550px; background-color:white; border-radius:3%">
  <!-- <form action = "/signup" method="POST" style="width:550px;  border-radius:3%"></form> -->

  <div class="container" align="left" style="padding-left:60px; padding-top:30px">
    <label for="uname">Name</label>
    <input type="text" name="name" placeholder="Enter your name" required><br>

    <label for="phone">Phone Number</label><br><br>
    <input type="tel" name ="contact" placeholder="Enter your Phone Number" required/><br><br>

    <label for="E-mail">E-mail Address</label>
    <input type="text" name="email" required placeholder="Enter your E-mail id"/>

    <label for="psw">Password</label>
    <input type="password" name="password" placeholder="Enter Password" required /><br>
    <button type="submit" class="button">Sign Up</button>
    <a href="/"><button type="button" class="button">Go Back</button></a>
  </div>
	<div align="center" style="padding-bottom:20px">
		By clicking the Sign Up button, you agree our <br>
		<a href="main.html"><font color="#ee2e24">Terms & Conditions</font></a>, and <a href="#"><font color="#ee2e24">Privacy Policy.</font></a>

	</div>

</form>
</div>

</body>
</html>



</body>

</html>


 